/* src/components/DiagnosticTable/DiagnosticTable.module.scss */
.DiagnosticTableContainer {
  padding-top: 20px;
}

.entriesTableContainer {
  width: 100%;
}

.tableWrapper {
  height: calc(100svh - 400px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #01152b;
  }

  .tableSearchWrapper {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    padding: 5px 15px;

    input {
      padding: 5px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    align-items: center;
  }

  button {
    font-size: 14px;

    span.addIcon {
      font-size: 25px;
      font-weight: normal;
    }
  }
}

.entriesTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 0 8px 0;
  border-radius: 8px;
  background-color: #e6e8ec;
  box-shadow: 0 2px 8px rgba(2, 29, 61, 0.12);
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #55687d;
}

.entriesTable td {
  padding: 10px 0;
  text-align: left;
  color: #01152b;
}

.entriesTable td:first-child {
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.entriesTable td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.entriesTable th {
  text-align: left;
}

th {
  // height: 40px;
  position: sticky;
  top: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #55687d;
  background-color: #e6e8ec;

  span {
    vertical-align: middle;
    margin-left: 5px;
  }

  .imgWrapper {
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  img {
    width: 100%;
    height: 100%;
  }

  img.sort {
    width: 12px;
  }
}

tbody tr {
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .entriesTable {
    font-size: 12px;
  }

  .header {
    flex-direction: column;
    align-items: normal;
    gap: 15px;
  }

  .tableWrapper {
    height: 30svh;
  }

  .entriesTable td {
    padding: 8px 0;
  }

  .entriesTable th {
    font-size: 12px;
  }

  th {
    height: 30px;
  }

  tbody tr {
    height: 40px;
  }
}
